/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&family=Public+Sans:wght@100..900&display=swap');

/* Public Sans */
.public-sans {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; 
  font-style: normal;
}

/* Nunito */
.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}
